@font-face {
  font-family: "Titillium";
  src: url("/assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Titillium";
  src: url("/assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf");
  font-weight: 700;
}
