@font-face {
  font-family: "Titillium";
  src: url("../fonts/typeface/TitilliumWeb-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Titillium";
  src: url("../fonts/typeface/TitilliumWeb-Bold.ttf");
  font-weight: 700;
}
