.header {
  margin-bottom: 2rem;
  @include breakpoint(medium) {
    margin-bottom: 4rem;
  }
}

article {
  margin-bottom: 4rem;
}

article > footer {
  margin-top: 4rem;
}

.article-banner {
  position: relative;
  height: 20rem;
  margin-bottom: 1rem;
  @include breakpoint(medium) {
    height: 25rem;
  }
}

.article-banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-banner__text {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  background: $gradient-background;
}

.article-banner__text * {
  color: $white;
  text-transform: uppercase;
}

.article-banner__text > .region-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
