.featured-header{
    margin-top:5rem;
    width:100%;
    height:30rem;
    position:relative;
}

.featured-header__image{
    width:100%;
    height:100%;
    object-fit: cover;
}

.featured-header__text-wrapper{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;

    background: linear-gradient(50deg, $secondary 60%, transparent 50%);
    display:flex;
    align-items: center;
}

.featured-header__text{
    color:$white;
    margin-left:10%;
}

.feature-header__img-wrapper{
    width:50%;
    height:100%;
    position:absolute;
    right:0;
}

