.featured-header {
  width: 100%;
  height: 20rem;
  margin-top: 3rem;
  @include breakpoint(medium) {
    height: 25rem;
  }
  @include breakpoint(large) {
    margin-top: 5rem;
    position: relative;
  }
}

.featured-header__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-header__text-wrapper {
  background: $secondary;
  padding-top: 1rem;
  padding-bottom: 2rem;
  height: auto;
  max-height: 50%;
  @include breakpoint(large) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;

    background: linear-gradient(50deg, $secondary 60%, transparent 50%);
    display: flex;
    align-items: center;
  }
}

.featured-header__text-wrapper--danger {
  background: $crimson;
  @include breakpoint(large) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: linear-gradient(50deg, $crimson 60%, transparent 50%);
    display: flex;
    align-items: center;
  }
}

.featured-header__text {
  color: $white;
  margin-left: 10%;
}

.featured-header__text a {
  color: $white;
  font-weight: $global-weight-bold;

  &:hover {
    text-decoration: underline;
  }
}

.feature-header__img-wrapper {
  display: block;
  height: 50%;
  @include breakpoint(large) {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
  }
}
