.related-links,
.focus-list,
.authored-list {
  list-style-type: none;
}

.authored-list a {
  color: $black;
  text-decoration: underline;
  font-size: 1.25rem;
}

.focus-list {
  margin-top: 1rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.focus-list li {
  display: inline-block;
  margin: 0 0.5rem;
}

.focus-list--full li {
  margin: 0 1rem;
}

.related-links__title {
  margin-right: 0.5rem;
}

.focus-list__item {
  display: inline-block;
  border-radius: 100%;
  border: 10px solid $process-yellow;
  width: 8rem;
  height: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.focus-list__item:hover {
  background: $process-yellow;

  .focus-list__detail > .fa,
  .focus-list__detail > .focus-list__text {
    color: $white;
  }
}

.focus-list__detail {
  text-align: center;
}

.focus-list__detail > .fa,
.focus-list__detail > .focus-list__text {
  display: block;
  color: $process-yellow;
}

.focus-list__detail > .fa {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.focus-list__detail > .focus-list__text {
  font-size: 0.75rem;
}

.vote-list {
  list-style-type: none;
  margin: 0 1rem;
}

.vote-list__item {
  margin-top: 1rem;
}

.vote-list__link {
  color: $black;
  text-decoration: underline;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.voted-list__item {
  margin-top: 0.5rem;
}

.voted-list {
  list-style-type: none;
  margin-top: 0.5rem;
  margin-left: 0;
}

.bills-listing {
  list-style-type: none;
}
