.profile-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 0.75rem;

  &--large {
    width: 10rem;
    height: 10rem;
    margin-right: 0;
  }
}

.profile-icon img {
  width: 100%;
  height: 100%;
}

.profile-banner {
  margin-top: 5rem;
  min-height: 20rem;
  display: flex;
  justify-content: end;
  background: $secondary;
  padding-top:3rem;
  padding-bottom:2rem;
}

.profile-banner__text {
  width: 100%;
  display: flex;

  align-items: center;
}

.profile-banner__text .profile-icon {
  margin-bottom: 2rem;
}

.profile-banner__text * {
  color: $white;
  text-transform: uppercase;
}

.profile-focus {
  text-align: center;
}