.tags {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  margin-bottom: 2rem;
}

.tags__pill {
  display: inline-block;
  padding: 0.25rem 1.5rem;
  border: 2px solid $black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 500px;
}

.tags__pill a {
  color: $black;
  font-weight: $global-weight-bold;
}
