<div class="cell small-12 medium-6">
  <a href="bill.html">
    <div class="bill-card  {{ class }}">
      <div class="bill-card__text">
        <small
          ><strong>SB{{ number }}</strong></small
        >
        <span class="h5 bill-card__title">{{ title }}</span>
        <div class="bill-card__meta">
          <p class="bill-card__author">
            <i class="fa fa-user"></i> {{ author }}
          </p>
          <p class="bill-card__date">
            <i class="fa fa-calendar"></i> {{ date }}
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
