
    <div class="navigation region-fullbleed">
        <div class="navigation__container region-content">
          <div class="navigation__logo">
            <span class="h2">
              <i class="fa fa-landmark"></i>
            </span>
          </div>
          <ul class="navigation__items">
            <li class="navigation__item"><a href="#">Bills</a></li>
            <li class="navigation__item"><a href="#">Senators</a></li>
            <li class="navigation__item"><a href="#">Concerns</a></li>
          </ul>
        </div>
      </div>