<nav class="navigation region-fullbleed">
  <div class="navigation__container region-content">
    <div class="navigation__logo">
      <span class="h2">
        <i class="fa fa-landmark"></i>
      </span>
    </div>
    <ul class="navigation__items">
      <li class="navigation__item"><a href="/bills_landing.html">Bills</a></li>
      <li class="navigation__item">
        <a href="/senator_list.html">Senators</a>
      </li>
      <li class="navigation__item"><a href="/concern.html">Concerns</a></li>
    </ul>
  </div>
</nav>
